:root {
  --primary-color: #eac062;
  --dark-color: #222222;
  --shadow-color: #1a1a1a;
  --primary-font: 'Dancing Script';
  --primary-shadow: 0.3rem 0.3rem var(--shadow-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.landing-container {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  height: 100vh;
}

.initial-container {
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: var(--primary-shadow);
}

.initials {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: var(--primary-shadow);
}

.name {
  margin: 1rem 0 3rem;
  font-size: 9rem;
  text-shadow: var(--primary-shadow);
}

.landing-container button {
  height: 5rem;
  width: 10rem;
  transition: all 0.3s;
  background-color: var(--dark-color);
  border: 1px solid var(--primary-color);
  border-radius: 1.2rem;
  box-shadow: var(--primary-shadow);
}

.landing-container button span {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem var(--shadow-color);
  transition: all 0.3s;
}

.landing-container button:hover {
  scale: 1.2;
  box-shadow: 0 0.5rem 0.5rem var(--shadow-color);
}

.portfolio-container {
  height: 100vh;
}
